.vscode
*.c
*.cpp
*.egg-info/
*.pyc
__pycache__
*.so
*.pyd
docs/_build
docs/sphinx/**/generated
docs/sphinx/generated
dist
build
wheelhouse

#Mac system files
.DS_Store

#Test
.pytest_cache
*.pickle
.hypothesis/*

#Pipenv
.env*
Pipfile*
.venv*
.pipenv-cache

.mypy_cache
